@charset "UTF-8";

body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../img/wavy-dots.png");
	margin: 0 !important;
	font-family: 'Yantramanav', sans-serif;
}

header
{
	width: 100%;
	height: 150px;
	background-color: #00d2cd;

}

#dent
{
	color: #ffffff; 
	text-shadow: 1px 1px 0 black;
}

a
{
	color: #000000;
	display: block;
	text-decoration: none;
}

a:hover
{
	color: #797979;
	text-decoration: bold;
}


#logo
{
	font-family: 'Fugaz One', cursive;
	width: 465px;
	padding: 30px;
	font-size: 70px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 white;
}

#logo a
{
	color: #000000;
}

#logo img
{
	width: 15%;
	height: 15%;
	float: left;
	margin-right: 10px;
	-webkit-filter: invert(1);
	filter: invert(1);
}

.navbar
{
	color: #ffffff;
	font-weight: 400;
	font-size: 18px;
	width: 100%;
	height: 55px;
	background-color: #00aaa6;
	padding: 3px 0;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0 #000000;
	border-top: 1px ridge #d4d4d4;
	border-bottom: 1px ridge #d4d4d4;
	
}

.navbar a
{
	color: #ffffff;
	text-decoration: none;
}

.navbar a:hover
{
	color: #dfdfdf;
	text-decoration: none;
}

.navbar ul > li
{
	display: inline-block;
	width: 190px;
	border-right: 3px double #ffffff;
}

.navbar ul > li:first-child
{
	border-left: 3px double #ffffff;
}

.navbar ul > li:hover
{
	background-color: #017087;
}

#intro
{
	width: 100%;
	padding: 10px 0;
	height: -moz-available;         
    height: -webkit-fill-available; 
    height: fill-available;
	text-align: center;
	text-margin-left: 30%;
	color: #000000;

}

#intro h1
{
	margin-bottom: 30px;
}

h1
{
	width: 70%;
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	text-align: justify;
	/*margin-left: 20%;
	margin-right: 20%;*/
}

h2
{
	float: left;
	width: 50%;
	height: 80%;
	font-weight: 400;
	font-size: 25px;
	margin-left: 1%;
	margin-top: 15%;
	margin-right: 7%;
	text-align: justify;
}

h3
{
	text-align: justify;
	
}


#about
{
	width: 100%;
	height: 100%;
    height: -moz-available;         
    height: -webkit-fill-available; 
    height: fill-available;
	color: #000000;
	padding: 10px 0;
	text-align: center;
}



h3
{
	float: left;
	width: 50%;
	height: 80%;
	font-weight: 400;
	font-size: 25px;
	margin-left: 7%;
	margin-top: 12%;
	margin-right: 1%;
}

#desc
{
	float: left;
	width: 60%;
	height: 40%;
}

#about img
{
	margin-top: 6%;
	width: 40%;
	height: 40%;
	float: left;
}

#dentist1
{
	width: 100%;
	height: 100%;
    height: -moz-available;         
    height: -webkit-fill-available; 
    height: fill-available;
	padding: 10px 0;
}

#dentist1 h1
{
	text-align: center;
	font-size: 25px;
}

#dentist1 img
{
	margin-top: 3%;
	margin-left: 1%;
	width: 40%;
	height: 40%;
	float: left;
}


#dentist2
{
	width: 100%;
	height: 100%;
    height: -moz-available;         
    height: -webkit-fill-available; 
    height: fill-available;
	padding: 10px 0;
}

#dentist2 h1
{
	text-align: center;
	font-size: 25px;
}

#dentist2 img
{
	margin-top: 3%;
	margin-left: 1%;
	width: 40%;
	height: 40%;
	float: left;
}

#pricelist
{
	width: 100%;
	height: 100%;
    height: -moz-available;         
    height: -webkit-fill-available; 
    height: fill-available;
	padding: 10px 0;
}

#pricelist table
{
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

#cennik table, tr, td {
  border: 1px hidden #ffffff;
  border-collapse: collapse;
  text-align: left;
  padding: 15px;
}

#pricelist table th
{
	padding: 10px;
	font-size: 25px;
	text-align: center;
}

#contact
{
	margin-top: 0%;
	text-align: center;
	height: 100%;
    height: -moz-available;         
    height: -webkit-fill-available; 
    height: fill-available;
	width: 100%;
	
}

.contactdesc
{
	padding-top: 5%;
	height: 90%;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10%;
}

footer
{
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	padding: 10px 0;
	height: 20px;
	text-align: center;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

/* register */

#whitebox
{
	background-color: white;
	width: 90%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	-webkit-box-shadow: 3px 3px 35px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 35px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 35px 5px rgba(204,204,204,0.9);
	min-height: calc(100vh - 20px);
}

#whitebox
{
	background-color: white;
	width: 90%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	-webkit-box-shadow: 3px 3px 35px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 35px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 35px 5px rgba(204,204,204,0.9);
	
}

#logomin
{
	font-family: 'Fugaz One', cursive;
	text-align: left;
	padding: 5px;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 white;
	
}

#logomin a
{
	color: #000000;
}

#logomin img
{
	margin-right: 5px;
	width: 15%;
	height: 15%;
	float: left;
	-webkit-filter: invert(1);
	filter: invert(1);
}

.navbar2
{
	color: #ffffff;
	font-weight: 400;
	font-size: 18px;
	width: 100%;
	height: 45px;
	background-color: #00aaa6;
	padding: 3px 0;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0 #000000;
	border-top: 1px ridge #d4d4d4;
	border-bottom: 1px ridge #d4d4d4;
	
}

.navbar2 a
{
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
}

.navbar2 a:hover
{
	color: #dfdfdf;
	text-decoration: none;
}

.navbar2 ul
{
	margin: 0;
}

.navbar2 ul > li
{
	float: left;
	padding: 8px;
	list-style-type: none;
}

.navbar2 ul > li:before
{
	content:">";
	margin-right: 15px;
}

.navbar2 ul > li:first-child:before
{
	content:"";
	margin-right: 0px;
}

.navbar2 ul > li:nth-child(2):before
{
	content:"";
	margin-right: 0px;
}

.navbar2 ul > li:hover
{
	background-color: #017087;
}

a
{
	display: contents;
}

h4
{
	color: #00aaa6;
	text-align: center;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
}

#login
{
	padding: 10px;
	height: 336px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


input[type=text], 
input[type=password],
input[type=email],
input[type=tel],
input[type=date],
input[type=time]
{
	display: block;
	width: 300px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	border-radius: 8px;
	padding: 5px;
	background-color: #eaeaea;
}

input:focus

{
	-webkit-box-shadow: 3px 3px 25px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 25px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 25px 5px rgba(204,204,204,0.9);
	border: 3px solid #a6c9cc;
	background-color: #e9f3e9;
	color: #428c42;
}

input:focus:placeholder
{
	color: #428c42;
}


input[type=button]
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 12px;
	height: 20%;
	background-color: #e99803;
	border: none;
	color: #eae8f7;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(176,176,176,1);
	-moz-box-shadow: 0px 0px 13px 2px rgba(176,176,176,1);
	box-shadow: 0px 0px 13px 2px rgba(176,176,176,1);
}

input[type=button]:hover
{
	background-color: #fca707;
}

input[type=submit]
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 12px;
	width: 30%;
	height: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color: #008080;
	border: none;
	color: #eae8f7;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(176,176,176,1);
	-moz-box-shadow: 0px 0px 13px 2px rgba(176,176,176,1);
	box-shadow: 0px 0px 13px 2px rgba(176,176,176,1);
}



input[type=submit]:hover
{
	background-color: #009797;
}

#login input[type=submit]
{
	width: 220px;
}

#userdata input
{
	margin-left: 0;
	margin-right: 0;
}

#userdata input[type=checkbox]
{
	margin-right: 5px;
}

#newpassword
{
	display: none;
	/*width: 0;
	height: 0;*/
}

#visitdata input
{
	margin-left: 0;
	margin-right: 0;
}

select
{
	margin-bottom: 10px;
}

#visitdata .column
{
	display: inline-block;
	margin: 0 15px;
}

.logged
{
	width: auto;
	text-align: right;
	padding: 5px;
	font-size: 20px;
	letter-spacing: 2px;
}

p
{
	display: block;
}

h5
{
	display: block;
	font-size: 30px;
	text-align: center;
}

h6
{
	display: block;
	font-size: 30px;
}


#visitmanagement
{
	padding: 2%;
}

#verifyvisits
{
	display: inline-block;
	width: 45%;
	background-color: #008080;
	height: 400px;
	margin: 1%;
	color: white;
	text-align: center;
}

#verifyvisits:hover
{
	background-color: #009797;
	cursor: pointer;
}

#managevisits
{
	display: inline-block;
	width: 45%;
	background-color: #e99803;
	height: 400px;
	margin: 1%;
	color: white;
	text-align: center;
}

#managevisits:hover
{
	background-color: #fca707;
	cursor: pointer;
}

#managedoctors
{
	display: inline-block;
	width: 92%;
	background-color: #ec00a5;
	height: 400px;
	margin: 1%;
	color: white;
	text-align: center;
}

#managedoctors:hover
{
	background-color: #db0094;
	cursor: pointer;
}

#managedoctorsadmin
{
	display: inline-block;
	width: 45%;
	background-color: #ec00a5;
	height: 400px;
	margin: 1%;
	color: white;
	text-align: center;
}

#managedoctorsadmin:hover
{
	background-color: #db0094;
	cursor: pointer;
}

#manageaccounts
{
	display: inline-block;
	width: 45%;
	background-color: #fc141a;
	height: 400px;
	margin: 1%;
	color: white;
	text-align: center;
}

#manageaccounts:hover
{
	background-color: #bf0206;
	cursor: pointer;
}


#visitmanagement a
{
	color: white;
	display: inline;
}

#comment input[type=button]
{
	display: block;
	width: 60%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	border-radius: 8px;
	padding: 5px;
	background-color: #ffffff;
}

#comment input[type=text]:focus

{
	-webkit-box-shadow: 3px 3px 25px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 25px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 25px 5px rgba(204,204,204,0.9);
	border: 3px solid #a6c9cc;
	background-color: #e9f3e9;
}

#verifylist table
{
	width: 100%;
}

#vbuttons
{
	margin-top: 50px;
}

.vinfo
{
	width: 45%;
	display: inline-block;
}

.vinfo2
{
	width: 29%;
	display: inline-block;
}