<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
	<meta charset="UTF-8">
	<title>Dent-Med</title>

	<meta name="description" content="Gabinet dentystyczny Dent-Med">
	<meta name="keywords" content="dentysta, gabinet dentystyczny, stomatolog, stomatologia">
	<meta name="author" content="Mateusz Zdzymira">
	
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/fontello.css}">
	
	<link href="https://fonts.googleapis.com/css?family=Yantramanav:400,700&amp;subset=latin-ext" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
	
	<script src="js/jquery-3.3.1.min.js"></script>
	
</head>

<body>

		<nav>
			<div class="navbar2">
				<ul>
					<li style="padding: 0px;">
						<div id="logomin">
							<a href="/">
								<img src="../../img/tooth-1501321_640_resmin.png">
								<span id="dent">Dent</span>-Med
								
							</a>
							<div style="clear:both"></div>
						</div>
					</li>
					<li><a href="/">Strona główna</a></li>
					<li><a href="/home">Panel główny</a></li>
					<li><a href="/admin/accountlist">Konta uzytkowników</a></li>
					<li>Edycja konta</li>
				</ul>
				<div sec:authorize="isAuthenticated()" class="logged">

					<i class="icon-user"></i>Witaj, [[${#httpServletRequest.remoteUser}]]!(<a th:href="@{/logout}">Wyloguj</a>)
					<div style="clear:both"></div>
				</div>
				
				<div sec:authorize="isAnonymous()" class="logged">

					<i class="icon-user"></i>Niezalogowany(<a th:href="@{/login}">Zaloguj</a>)

					<div style="clear:both"></div>
				</div>
			</div>
		</nav>
		
	
	<div id="whitebox">
		<h4>Edycja konta użytkownika</h4>
		
		<span style="text-align:center;">
			W tym oknie możesz dokonać edycji konta uzytkownika. Pamiętaj, aby w przypadku zmiany właściciela konta nie wybrać tego, który już posiada przypisane konto. <br /><br />
		</span>
		<div id="visitdata">
			<form method="post">
				
				<!--<object type="text/html" data="calendar" style="width: 100%; height: 431px;"> </object>-->
	
				
				<h6 style="font-size: 20px;">
					
					<label for="accmail">Mail: </label>
					<input type="email" th:value="${user.mail}"  name="accmail" id="accmail" style="margin-right: 10px;">

					<label for="accpass">Hasło: </label>
					<input type="password" name="accpass" id="accpass" style="margin-right: 10px;" placeholder="nie zmieniono">
					
					<label for="accrpass">Powtórz hasło: </label>
					<input type="password" name="accrpass" id="accrpass" style="margin-right: 10px;" placeholder="nie zmieniono">
					
					<label for="accrole">Rola: </label>
					<select id="accrole" name="accrole">
						<option th:value="${user.role}" th:text="${user.role}+' (nie zmieniono)'"></option>
						<option th:value="ROLE_USER">Uzytkownik (ROLE_USER)</option>
						<option th:value="ROLE_DOCTOR">Doktor (ROLE_DOCTOR)</option>
						<option th:value="ROLE_ADMIN">Administrator (ROLE_ADMIN)</option>
					</select>
					
					<br />
					<label for="acclinkp">Powiązane konto pacjenta: </label>
					<select id="acclinkp" name="acclinkp">
						<option th:if="${user.patientacc}!=null" th:value="${user.patientacc}" th:text="${user.patientacc.fname}+' '+${user.patientacc.lname}+' (nie zmieniono)'">(brak)</option>
						<option th:value="null">(brak)</option>
						<option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.fname}+' '+${patient.lname}">Pacjent</option>
					</select>
					
					<br />
					<label for="acclinkd">Powiązane konto doktora: </label>
					<select id="acclinkd" name="acclinkd">
						<option th:if="${user.doctoracc}!=null" th:value="${user.doctoracc}" th:text="${user.doctoracc.fname}+' '+${user.doctoracc.lname}+' (nie zmieniono)'">(brak)</option>
						<option th:value="null">(brak)</option>
						<option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.fname}+' '+${doctor.lname}">Doktor</option>
					</select>
					
				
					
				</h6>
				
				
				<input type="submit" value="Zatwierdź dane">
				<a href="../accountlist"><input type="button" value="Powrót do listy wizyt"></a>
				
			</form>
		</div>
		
		
	</div>
	
	<footer>
			&copy 2018 Dent-Med Inc. Wszelkie prawa zastrzeżone.
	</footer>

</body>

</html>