<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
	<meta charset="UTF-8">
	<title>Dent-Med</title>

	<meta name="description" content="Gabinet dentystyczny Dent-Med">
	<meta name="keywords" content="dentysta, gabinet dentystyczny, stomatolog, stomatologia">
	<meta name="author" content="Mateusz Zdzymira">
	
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/fontello.css}">
	
	<link href="https://fonts.googleapis.com/css?family=Yantramanav:400,700&amp;subset=latin-ext" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
	
	<script th:src="@{../js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{../dpcalendar/scripts/daypilot-all.min.js}" type="text/javascript"></script>
	
	
</head>

<body>

		<nav>
			<div class="navbar2">
				<ul>
					<li style="padding: 0px;">
						<div id="logomin">
							<a href="/">
								<img src="../img/tooth-1501321_640_resmin.png">
								<span id="dent">Dent</span>-Med
								
							</a>
							<div style="clear:both"></div>
						</div>
					</li>
					<li><a href="/">Strona główna</a></li>
					<li><a href="/home">Panel główny</a></li>
					<li>Lista wizyt</li>
				</ul>
				<div sec:authorize="isAuthenticated()" class="logged">

					<i class="icon-user"></i>Witaj, [[${#httpServletRequest.remoteUser}]]!(<a th:href="@{/logout}">Wyloguj</a>)
					<div style="clear:both"></div>
				</div>
				
				<div sec:authorize="isAnonymous()" class="logged">

					<i class="icon-user"></i>Niezalogowany(<a th:href="@{/login}">Zaloguj</a>)

					<div style="clear:both"></div>
				</div>
			</div>
		</nav>
		
	
	<div id="whitebox">
		<h4>Lista wizyt</h4>
		<span style="text-align:center; display: block; padding-bottom: 30px;">
			Tutaj masz dostęp do wszystkich wizyt, aby wyświetlić informacje o konkretnej wizycie, kliknij jej ID.
		</span>
		
		<div style="float:left; width: 150px;">
		    <div id="nav"></div>
		</div>
		<div style="margin-left: 150px; margin-bottom:180px;">
		    <div id="dp"></div>
		</div>
		
		<table>
					<tr>
						<th>ID wizyty</th>
						<th>Pacjent</th>
						<th>Doktor</th>
						<th>Cel wizyty</th>
						<th>Data wizyty</th>
						<th>Godzina</th>
						<th>Status</th>
					</tr>
					<tr th:each="visit : ${visits}">
						
							<td sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_DOCTOR')"><a th:text="${visit.id}" th:href="'/'+${role}+${'/visitinfo/'+visit.id}">ID wizyty</a></td>
							<td sec:authorize="hasRole('ROLE_USER')"><a th:text="${visit.id}" th:href="'/user'+${'/visitinfo/'+visit.id}">ID wizyty</a></td>
							<td th:text="${visit.patient.fname}+' '+${visit.patient.lname}">Pacjent</td>
							<td th:text="${visit.doctor.fname}+' '+${visit.doctor.lname}">Doktor</td>
							<td th:text="${visit.purpose}">Cel wizyty</td>
							<td th:id="${visit.id}+'D'" th:text="${visit.date}">Data wizyty</td>
							<td th:id="${visit.id}+'T'" th:value="${visit.hour}" th:text="${visit.hour}">Godzina</td>
							<td th:text="${visit.state}">Godzina</td>		
					</tr>
					
				</table>
		
		
		<script type="text/javascript" th:inline="javascript">
		    var nav = new DayPilot.Navigator("nav");
		    
		    nav.showMonths = 3;
		    nav.selectMode = "week";
		    nav.onTimeRangeSelected = function(args) {
		        dp.startDate = args.start;
		        
		        dp.update();
		    };
		    nav.init();
		    
		    var dp = new DayPilot.Calendar("dp");
		
		    // view
		    dp.viewType = "Week";
		    
		   
		    
		    
		    dp.init();
		    
 			var idString = "ID: "
			    
			    var theList = /*[[${visits}]]*/[];
			    for (i = 0; i < theList.length; i++) {
			    	
			    	
			    	///MS
			    	var x = theList[i].date+"T"+theList[i].hour+":00";
				    var y = new Date(x);
				    
				    var visittimeh = 1; //czas trwania wizyty w godzinach

				    var z = y.getFullYear()+"-"+("0" + (y.getMonth() + 1)).slice(-2)+
				    "-"+("0" + y.getDate()).slice(-2)+"T"+("0" + (y.getHours()+visittimeh)).slice(-2)+
				    ":"+("0" + (y.getMinutes())).slice(-2)+":00";
				    
				    var k = theList[i].hour+" "+theList[i].purpose;

				    
				   var e = new DayPilot.Event({
			            start: x,
			            end: z,
			            id: theList[i].id,
			            //theList[i].id,
			            text: theList[i].hour+" "+theList[i].patient.fname+" "+theList[i].patient.lname+" "+theList[i].purpose
			        });
			        
			      
				    dp.events.add(e);
			        
				    dp.onEventClick = function(args) {
				       //alert("clicked: " + args.e.id());
				       var role = /*[[${role}]]*/;
				       window.location='visitinfo/'+args.e.id();
				    };
			        
			    	////MS
			    	
			    	
			    }
		    
			    
		
		</script>
		
		
		
		<div id="verifylist">
				
				
				
				
				
				<a href="addvisit"><input type="button" value="Dodaj wizytę"></a>
				<a href="home"><input type="submit" value="Powrót do panelu"></a>
				
		</div>
		
		
	</div>
	
	<footer>
			&copy 2018 Dent-Med Inc. Wszelkie prawa zastrzeżone.
	</footer>

</body>

</html>